[Unit]
Description=SQM and Weather station daemon

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/raspi-sqm-weather/main.py

[Install]
WantedBy=multi-user.target
