[Unit]
Description=SQM and Weather station daemon

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/raspi-sqm-weather/sqm-weather.py
User=pi
WorkingDirectory=/home/pi/raspi-sqm-weather

[Install]
WantedBy=multi-user.target
